.flex {
    display: flex;
    align-content: center;
    min-height: 500px;
    padding: 10px;
}

.flex.p-4.schedule {
    justify-content: flex-start;
}

.p-4 {
    justify-content: flex-end;
}

footer {
    display: block;
    min-height: 100px;
    padding: 10px;
}