.flex {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    min-height: 500px;
    padding: 10px;
}
.schedule {
    margin: 0 10px;
    flex-grow: 3;
}
.profile {
    margin: 0 10px;
    flex-grow: 1;
}
footer {
    display: block;
    min-height: 100px;
    padding: 10px;
}