<div class="flex">
<mat-card class="schedule">
    <div class="board">
    </div>
</mat-card>
<mat-card class="profile">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-card>
</div>
<div class="flex">
<main class="posts">
    <mat-card>
    <h1>This is where all user posts will go</h1>
    </mat-card>
</main>

<aside>
    <app-chips-multi-select></app-chips-multi-select>
</aside>
</div>

<footer>
    <br>
    <br>
    <div class="logo">
    <h1>TheDocs</h1>
    <h3></h3>
    </div>
</footer>