.flex {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    min-height: 500px;
    padding: 10px;
}
.schedule {
    width: 70%;
    margin: 10px 10px;
    flex-grow: 3;
}
.profile {
    width: 30%;
    margin: 10px 10px;
    flex-grow: 1;
}
.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
footer {
    display: block;
    min-height: 100px;
    padding: 10px;
}

file-input {
    display: flex;
}