<div class="flex">
<mat-card class="schedule">
    <p>
        This is where the schedule will go
    </p>
</mat-card>
<mat-card class="profile">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-card>
</div>
<div class="flex">
<main class="p-4">
    <h1>This is where all user posts will go</h1>
</main>

<aside class="p-4">
    <h1>This is where the tags will go</h1>
</aside>
</div>

<footer class="p-4">
    <h1>This is where the copyright stuff and other things go</h1>
</footer>