<div class="flex">
<mat-card class="schedule">
    <div class="board">
        
    </div>
</mat-card>
<mat-card class="profile">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-card>
</div>
<div class="flex">
<main class="posts">
    <h1>This is where all user posts will go</h1>
</main>

<aside class="tags">
    <h1>This is where the tags will go</h1>
</aside>
</div>

<footer class="info">
    <h1>This is where the copyright stuff and other things go</h1>
</footer>