<h1>Question Form</h1>

<div class="form-group">
    <label for="question">Question</label>
    <input type="text" class="form-control" id="question"
            required
            [(ngModel)]="model.question" name="question">
</div>

<div class="form-group">
    <label for="course">Course Number</label>
    <select class="form-control"  id="course"
            required
            [(ngModel)]="model.course" name="course">
      <option *ngFor="let num of courses" [value]="num">CPSC {{num.course}}</option>
    </select>
</div>

