header, footer {
    display: flex;
    justify-content: center;
    padding: 2em;
}
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 60%;
    min-width: 500px;
    max-width: 1000px;

}
mat-card {
    margin: 10px;
}
aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 500px;
}
.search {
    width: 90%;
    min-height: 500px;
}
.dynamic {
    max-width: 90%;
}

footer {
    background-color: #343a40;
    color: white;
    margin-top: 25px;
    padding: 6em 2em;
}