<header>
    <p>This are the classes that can be categorized</p>
</header>
<div class="wrapper">
<main>
    <mat-card class="search">
        <a routerLink="/courses" routerLinkActive="active">courses</a>
        <div [@routeAnimation]="getAnimationData(routerOutlet)">
            <router-outlet #routerOutlet="outlet"></router-outlet>
        </div>
    </mat-card>

</main>
<aside>
    <mat-card class="tags">
        <p>Tags go in here</p>
    </mat-card>
</aside>
</div>
<footer>
    <p>This is where the copyright goes</p>
</footer>
