<header>
    <h1>Here is a list of Computer Science classes</h1>
    <h4>This list contains the following information about <br>
        computer science courses that you are able to take <br>
        at California State Fullerton.</h4>
</header>
<div class="wrapper">
<main>
    <mat-card class="search">
        <app-view-courses></app-view-courses>
    </mat-card>
</main>
<!-- <aside>
    <mat-card class="tags">
        <p>Tags go in here</p>
    </mat-card>
</aside> -->
</div>
<footer>
    <p>This is where the copyright goes</p>
</footer>