<head>
    <title>TheDocs | Homepage</title>
</head>

<header>
    <div class="container">
        <h1>Hi {{account.firstName}}!</h1>
        <p>Are you just as lost as everyone else? <br>
            Welcome home! <br>
            Congratulations now you may accomplish the following: <br>
            1. Log In <br>
            2. Sign Up <br>
            3. Access your profile <br>
            4. Edit your profile <br>
            5. Access Admin things <br>
            6. Log Out
        </p>
    </div>
</header>

<main>
    <app-show-post></app-show-post>
</main>

<footer>
    <p>There should be a copyright right here!</p>
</footer>