header, main{
    margin: 10px;
}
p {
    font-size: 1.5em;
}

main {
    margin-top: 2in;
    justify-items: center;
    align-items: center;
    min-height: 700px;
}

footer {
    background-color: #343a40;
    color: white;
    margin-top: 25px;
    padding: 6em 2em;
}