header, main{
    margin: 10px;
}
p {
    font-size: 1.5em;
}

main {
    margin-top: 2in;
    display: flow-root;
    margin-left: 400px;
    align-items: left;
    min-height: 700px;
    min-width: 1000px;
}

footer {
    background-color: #343a40;
    color: white;
    margin-top: 25px;
    padding: 6em 2em;
}