<header>
    <p>These are the random thoughts that people have...</p>
</header>
<div class="wrapper">
<main>
    <input name="searchInput" type="text" placeholder="Pick a Random Thought" size="50"
        class="searchbar">

    <mat-card class="posts">
    </mat-card>

</main>
<aside>
    <mat-card class="create">
        <p>create posts button</p>
    </mat-card>
    <mat-card class="random">
        <p>open a random post</p>
    </mat-card>
    <mat-card class="top5">
        <p>top posts for the week</p>
    </mat-card>
</aside>
</div>
<footer>
    <br>
    <br>
    <div class="logo">
    <h1>TheDocs</h1>
    <h3></h3>
    </div>
</footer>