.navbar {
    justify-content: space-between;
}

.navbar-nav{
    width: 100%;
    justify-content: center;
}

.navbar-nav.L{
    justify-content: flex-start;
}

.navbar-nav.R {
    justify-content: flex-end;
}

