.navbar {
    justify-content: space-between;
}

.navbar-nav{
    justify-content: center;
}

.navbar-nav.L{
    justify-content: flex-start;
}

.navbar-nav.R {
    justify-content: flex-end;
}
button {
    background-color: white;
}