<header>
    <p>This is where we can create study groups to talk to each other</p>
</header>
<div class="mid">
<main>
    <mat-card class="searchbar">
        <p>searchbar with badge goes here</p>
    </mat-card>
    <mat-card class="public">
        <router-outlet></router-outlet>
    </mat-card>
    <mat-card class="private">
        <p>private study rooms</p>
    </mat-card>
</main>
<aside>
    <mat-card class="create">
        <p>create a study room</p>
    </mat-card>
</aside>
</div>
<footer>
    <div>
        <h1>We can help you</h1>  
    </div>
    <div class="logo">
    <h2>TheDocs</h2>
    </div>
</footer>
