<header>
    <p>This is where we can create study groups to talk to each other</p>
</header>
<div class="mid">
<main>
    <mat-card class="searchbar">
        <p>searchbar with badge goes here</p>
    </mat-card>
    <mat-card class="public">
        <div class="chatRoom">
            <router-outlet></router-outlet>
        </div>
    </mat-card>
    <mat-card class="private">
        <p>private study rooms</p>
    </mat-card>
</main>
<aside>
    <mat-card class="create">
        <p>create a study room</p>
    </mat-card>
</aside>
</div>
<footer>
    <br>
    <br>
    <div class="logo">
    <h1>TheDocs</h1>
    <h3></h3>
    </div>
</footer>
