header, footer {
    display: flex;
    justify-content: center;
    padding: 2em;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 60%;

}
mat-card {
    margin: 10px;
}
aside {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.searchbar {
    width: 90%;
}
.posts {
    width: 90%;
    min-height: 600px;
}
.create {
    width: 80%;
}
.random {
    width: 80%;
}
.top5 {
    width: 80%;
}

footer {
    background-color: #343a40;
    color: white;
    margin-top: 25px;
    padding: 6em 2em;
}